@import "tailwindcss";

@theme {
    --color-mubee-gold: #e8b84b;
    --color-mubee-burgundy: #8b1a1a;
}

@keyframes shimmer {
    0% {
        background-position: -200% 0;
    }
    100% {
        background-position: 200% 0;
    }
}

.skeleton {
    background: linear-gradient(90deg, #e5e7eb 25%, #f3f4f6 50%, #e5e7eb 75%);
    background-size: 200% 100%;
    animation: shimmer 1.5s ease-in-out infinite;
}

body {
    background-color: #fafaf8;
    color: #111111;
    font-family: "DM Sans", sans-serif;
}

h1,
h2,
h3 {
    font-family: "Playfair Display", serif;
}

/* 버건디 */
::selection {
    background: rgba(139, 26, 26, 0.2);
    color: #111;
}

::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    background: #fafaf8;
}
::-webkit-scrollbar-thumb {
    background: rgba(139, 26, 26, 0.3);
    border-radius: 99px;
}
::-webkit-scrollbar-thumb:hover {
    background: rgba(139, 26, 26, 0.6);
}

:focus-visible {
    outline: 2px solid rgba(139, 26, 26, 0.8);
    outline-offset: 3px;
}

/* 골드 */
/* ::selection {
    background: rgba(232, 184, 75, 0.3);
    color: #111;
}

::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    background: #fafaf8;
}
::-webkit-scrollbar-thumb {
    background: rgba(232, 184, 75, 0.4);
    border-radius: 99px;
}
::-webkit-scrollbar-thumb:hover {
    background: rgba(232, 184, 75, 0.7);
}

:focus-visible {
    outline: 2px solid rgba(232, 184, 75, 0.8);
    outline-offset: 3px;
} */
